.img-overely{
    position: relative;
}
.service-div{
    transition: 1s;
}
.service-card:hover .service-div{
    background-color: lightgray;
}
.color-title{
    transition: 1s;
}
.service-card:hover .color-title{
    color: #154b53;
}

.checkout-btn{
    font-weight: 700;
    transition: 1s;
}
.service-card:hover .checkout-btn{
    background-color: #1fb3c6;
    color: white;
}


.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }


  .service-card:hover .overlay{
    opacity: 1;
  }